table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #c6a4e2;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #ac7dc7;
}
tr:nth-child(even) {
    background-color: #e6c8ff;
}
h1{
    text-align: center;
}